<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net46" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net46" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net46" />
  <package id="CefSharp.OffScreen" version="73.1.130" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="73.1.130" targetFramework="net46" />
  <package id="DirectShowLib" version="1.0.0" targetFramework="net452" />
  <package id="FCTB" version="2.16.24" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.4" targetFramework="net452" />
  <package id="Knapcode.TorSharp" version="1.8.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net46" />
  <package id="Shaman.CurlSharp" version="0.6.3.1" targetFramework="net46" requireReinstallation="true" />
</packages>